/* Widths & Heights */
@use '../../base/widths_heights/widths_heights'as widths_heights;
/*Display*/
@use '../../utilities/common/display'as display;
/*Font properties*/
@use '../../utilities/font_properties/fonts'as font;
@use '../../utilities/font_properties/font_sizes'as fonts_sizes;
/*Paddings & Margins*/
@use '../../utilities/margins_paddings/paddings'as padding;
@use '../../utilities/margins_paddings/margins'as margin;
/*Colors*/
@use '../../utilities/common/colors'as color;
/*Mixins*/
@use '../../utilities/mixins/mixins'as *;

.login_container {
    @include width_height(widths_heights.$vw100, widths_heights.$vh100);
    overflow-x: hidden;

    &_left {
        @include width_height(widths_heights.$w50, widths_heights.$vh100);
        background-image: url(/src/frontend/assets/img/Login.png);
        background-position: center;
        background-repeat: repeat;
        background-size: contain;
    }

    &_right {
        background-color: color.$dark_green;
        @include width_height(widths_heights.$w50, widths_heights.$vh100);
        @include display(display.$display_grid, display.$place_content_center);

        img {
            width: 100%;
            height: 10em;
            object-fit: contain;
        }

        input+p {
            @include text(font.$Montserrat, fonts_sizes.$betwen, color.$red);
            text-decoration: none;
            text-align: center;
            outline: none !important;
            opacity: 0;
            height: 0;
        }

        input.invalido+p {
            opacity: 1;
            height: auto;
            margin-bottom: 5px;
        }

        a {
            @include text(font.$Montserrat, fonts_sizes.$betwen, color.$white);
            border: solid .2em color.$white !important;
            outline: 0 none;
            font-weight: bolder;
            text-emphasis: none;
            text-decoration: none;
        }

        button {
            border: solid .2em color.$white !important;
            outline: 0 none;

            span {
                color: color.$white;
            }

            &:hover {
                border: solid .2em color.$white !important;
                outline: 0 none;

                span {
                    color: color.$white;
                }

                &:focus {
                    border: solid .2em color.$white !important;
                    outline: 0 none;

                    span {
                        color: color.$white;
                    }
                }

            }
        }

        label {
            @include text(font.$Montserrat, fonts_sizes.$medium, color.$white);
            text-align: left;
            font-weight: bolder;
        }

        &_inner_1 {

            h1 {
                @include text(font.$Montserrat, fonts_sizes.$big, color.$white);
                font-weight: bolder;
                text-align: center;
            }
        }

        i {
            color: color.$white;
        }

        a {
            @include display(display.$display_grid, display.$place_content_center);
            @include padding(padding.$padding1);
        }
    }
}