/* Widths & Heights */
@use '../base/widths_heights/widths_heights'as widths_heights;
/*Font properties*/
@use '../utilities/font_properties/fonts'as font;
@use '../utilities/font_properties/font_sizes'as fonts_sizes;
/*Paddings & Margins*/
@use '../utilities/margins_paddings/paddings'as padding;
@use '../utilities/margins_paddings/margins'as margin;
/*Colors*/
@use '../utilities/common/colors'as color;
/*Mixins*/
@use '../utilities/mixins/mixins'as *;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4em;
}

body {
    background-color: color.$white;
    @include width_height(widths_heights.$w100, widths_heights.$h100);
    @include text(font.$Montserrat, fonts_sizes.$general, color.$black);
    overflow-x: hidden;
}

section {
    @include width_height(widths_heights.$w100, widths_heights.$h100);
    overflow-x: hidden;
}

nav {
    width: 100vw;
    height: auto;
    background-color: color.$dark_green;

    i {
        color: color.$white;
    }
}

header {
    @include width_height(widths_heights.$w100, widths_heights.$vh100);
    overflow-x: hidden;
}

footer {
    @include width_height(widths_heights.$w100, widths_heights.$h20);
    background-color: color.$dark_green;
}


hr {
    border: solid .5px color.$dark_green;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    height: auto;
    display: block;
    text-align: left;
    text-decoration: none;
    transition: .3s ease all;
    box-sizing: border-box;
    outline: none !important;
    border-radius: .3em;
    letter-spacing: .2rem;
    @include text(font.$Montserrat, fonts_sizes.$betwen, color.$black);
    font-weight: bolder;

    &:focus {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px transparent;
        outline: 0 none;
    }

    &:hover {
        &:focus {
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px transparent;
            outline: 0 none;
        }
    }
}

select {
    @include width_height(widths_heights.$w100, widths_heights.$hauto);
    @include text(font.$Montserrat, fonts_sizes.$medium, color.$black);
    font-weight: bolder;
    border: transparent;
    border-radius: .3em;
}

button,
button[type="button"],
button[type="reset"],
button[type="submit"] {
    @include width_height(widths_heights.$w100, widths_heights.$hauto);
    @include text(font.$Montserrat, fonts_sizes.$betwen, color.$white);
    font-weight: bolder;
    text-align: center;
    outline: none;
    border: transparent;
    border-radius: .3em;

    &:hover {
        @include text(font.$Montserrat, fonts_sizes.$betwen, color.$white);
        outline: 0 none;

        &:focus {
            outline: 0 none;
            @include text(font.$Montserrat, fonts_sizes.$betwen, color.$white);
        }
    }
}

textarea {
    @include text(font.$Montserrat, fonts_sizes.$medium, color.$black);
    font-weight: bolder;

    &:focus {
        @include text(font.$Montserrat, fonts_sizes.$betwen, color.$black);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px transparent;
        outline: 0 none;
    }

    &:hover {
        &:focus {
            @include text(font.$Montserrat, fonts_sizes.$betwen, color.$black);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px transparent;
            outline: 0 none;
        }
    }
}

table {
    @include width_height(widths_heights.$w100, widths_heights.$h100);
}

h1 {
    @include text(font.$Montserrat, fonts_sizes.$medium, color.$black);
    @include padding(padding.$padding1);
    font-weight: bolder;
}

label {
    @include text(font.$Montserrat, fonts_sizes.$betwen, color.$dark_green);
    text-align: left;
    font-weight: bolder;
}

a,
a:link,
a:visited,
a:active {
    @include text(font.$Montserrat, fonts_sizes.$general, color.$black);
}



small {
    @include text(font.$Montserrat, fonts_sizes.$small, color.$white);
    font-weight: bolder;
}

i {
    color: color.$dark_green;
}


.wrappers {
    @include width_height(widths_heights.$w100, widths_heights.$h100);
    background-color: color.$white;
    border-radius: 5px;
    border: 1px solid color.$black;
}

.wrappers .title {
    background: color.$dark_green;
    @include text(font.$Montserrat, fonts_sizes.$small, color.$white);
    text-align: center;
    border-bottom: 1px solid color.$dark_green;
    border-radius: 5px 5px 0 0;
}

.wrappers .form {
    padding: 20px 15px;
    min-height: 100%;
    max-height: auto;
    overflow-y: auto;
}

.wrappers .form .inbox {
    width: 100%;
    display: flex;
    align-items: baseline;
}

.wrappers .form .user-inbox {
    justify-content: flex-end;
    margin: 13px 0;
}

.wrappers .form .inbox .icon {
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    background: color.$white;
}

.wrappers .form .inbox .msg-header {
    max-width: 100%;
    margin-left: 10px;
}

.form .inbox .msg-header p {
    color: color.$white;
    background: color.$dark_green;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 14px;
    word-break: break-all;
}

.form .user-inbox .msg-header p {
    color: #333;
    background: #efefef;
}

.wrappers .typing-field {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background: #efefef;
    border-top: 1px solid #d9d9d9;
    border-radius: 0 0 5px 5px;
}

.wrappers .typing-field .input-data {
    height: 40px;
    width: 335px;
    position: relative;
}

.wrappers .typing-field .input-data input {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    padding: 0 80px 0 15px;
    border-radius: 3px;
    font-size: 15px;
    background: #fff;
    transition: all 0.3s ease;
}

.typing-field .input-data input:focus {
    border-color: rgba(0, 123, 255, 0.8);
}

.input-data input::placeholder {
    color: #999999;
    transition: all 0.3s ease;
}

.input-data input:focus::placeholder {
    color: #bfbfbf;
}

.wrappers .typing-field .input-data button {
    position: absolute;
    right: 5px;
    top: 50%;
    height: 30px;
    width: 65px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    background: color.$dark_green;
    border: 1px solid color.$dark_green;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.wrappers .typing-field .input-data input:valid~button {
    opacity: 1;
    pointer-events: auto;
}

.typing-field .input-data button:hover {
    background: color.$dark_green;
}