/* Widths & Heights */
@use '../../base/widths_heights/widths_heights'as widths_heights;
/*Display*/
@use '../../utilities/common/display'as display;
/*Font properties*/
@use '../../utilities/font_properties/fonts'as font;
@use '../../utilities/font_properties/font_sizes'as fonts_sizes;
/*Paddings & Margins*/
@use '../../utilities/margins_paddings/paddings'as padding;
@use '../../utilities/margins_paddings/margins'as margin;
/*Colors*/
@use '../../utilities/common/colors'as color;
/*Mixins*/
@use '../../utilities/mixins/mixins'as *;


.icon-bar {
    width: 15%;
    min-width: 15%;
    height: auto;
    background-color: color.$dark_green;
    @include display(display.$display_grid, display.$place_content_center);
    position: fixed;
    right: 0;
    bottom: 0;

    a {
        @include text(font.$Montserrat, fonts_sizes.$betwen, color.$white);
        display: block;
        transition: all 0.3s ease;

        &:hover {
            @include text(font.$Montserrat, fonts_sizes.$betwen, color.$white);
            border: none;
        }
    }

    i {
        margin-right: .5em;
        color: color.$white;

        &:hover {
            color: color.$white;
        }
    }

}